<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12 title title-without-tabs">
            Configurer le pourcentage de transport par rapport au motant du panier
        </div>

        <div class="col-md-6">
            <div class="form-container">
                <form method="POST" action="{url path="/admin/module/percentfeedelivery/configure"}">
                    {form name="percentfeedelivery.form"}
                        {if isset($smarty.get.errmes) and !empty($smarty.get.errmes)}
                            <div class="alert alert-danger">
                                {$smarty.get.errmes}
                            </div>
                        {/if}

                        {form_hidden_fields form=$form}

                        {custom_render_form_field field="percent"}
                            <div class="input-group">
                                <input type="text" {form_field_attributes field="percent" value=$percent}>
                                <span class="input-group-addon">
                                    %
                                </span>
                            </div>
                        {/custom_render_form_field}

                        <div class="form-group">
                            <a href="{url path="/admin/modules"}" class="btn btn-default" title="Fermer">Fermer<span class="glyphicon glyphicon-remove"></span></a>
                            <button type="submit" class="btn btn-success" title="Enregistrer les modifications">Enregistrer les modifications<span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    {/form}
                </form>
            </div>
        </div>
    </div>
</div>
