<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>PercentFeeDelivery\PercentFeeDelivery</fullnamespace>
    <descriptive locale="en_US">
        <title>Percent Fee Delivery</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Frais de port Pourcentage</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Delimard Thibault</name>
        <email>support@delimard.fr</email>
    </author>
    <type>delivery</type>
    <thelia>2.3.0</thelia>
    <stability>alpha</stability>
</module>
